<!DOCTYPE html>
<html class=" js csstransforms3d">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章发布-发布</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/page.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body style="background: rgb(246, 245, 250);">
<div class="super-content">
    <div class="superCtab">
        <div class="publishArt">
            <div class="pubMain">
                <form action="" method="post">
                    <h5 class="pubtitle">文章标题</h5>
                    <div class="pub-txt-bar">
                        <select id="TYPE">
                            <option value="原创">原创</option>
                            <option value="转载">转载</option>
                            <option value="翻译">翻译</option>
                        </select>
                        <input type="text" id="TITLE" class="shuruTxt">
                    </div>

                    <h5 class="pubtitle">文章内容</h5>
                    <div class="pub-article-cont">
                        <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
                    </div>
                    <h5 class="pubtitle">个人分类</h5>
                    <div class="pub-cbx">
                        <% for(var i=0;i
                        <data.length
                                ;i++){%>
                            <input name="ARTICLE" type="checkbox" value="<%=data[i].ID %>"><label><%=data[i].NAME%></label>
                            <%}%>
                    </div>
                    <h5 class="pubtitle">摘要</h5>
                    <div class="pub-area-bar">
                        <textarea id="SUMMARY" rows="" cols="3"></textarea>
                    </div>
                    <div class="pub-btn">
                        <input type="button" onclick="add_Article()" value="发表" class="saveBtn">
                        <input type="button" value="保存" class="saveBtn">
                        <input type="button" onclick="history.go(-1)" value="舍弃返回" class="saveBtn">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="/js/articleManage.js"></script>
</body>
</html>
